<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block", class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :poster, style: "display: block", class: "form-label" %>
    <%= form.file_field :poster, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :synopsis, style: "display: block", class: "form-label" %>
    <%= form.textarea :synopsis, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :release_year, style: "display: block", class: "form-label" %>
    <%= form.number_field :release_year, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration, style: "display: block", class: "form-label" %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :director, style: "display: block", class: "form-label" %>
    <%= form.text_field :director, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :categories, "Categorias", class: "form-label" %> <br>
    <div class="form-check d-flex flex-wrap gap-3">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <div class="form-check-inline me-3">
          <%= b.check_box class: "form-check-input" %>
          <%= b.label class: "form-check-label" do %>
            <%= t("movies.categories.#{b.object.name}") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary mt-4" %>
  </div>
<% end %>
