<div id="<%= dom_id movie %>">
    <h2 class="mb-3 align-items-center d-flex gap-2">
        <%= movie.title %> 
        <span class="badge bg-secondary fs-6">
            <%= movie.release_year %>
        </span>
    </h2>

  <div class="row mb-3">
    <div class="col-md-6">
      <p><strong><%= I18n.t("movies.show.duration") %>:</strong> <%= movie.duration %> minutos</p>
    </div>
    <div class="col-md-6">
      <p><strong><%= I18n.t("movies.show.director") %>:</strong> <%= movie.director %></p>
    </div>
  </div>
  
  <div class="mb-3">
    <h5><%= I18n.t("movies.show.synopsis") %></h5>
    <p class="text-muted"><%= movie.synopsis %></p>
  </div>
</div>
