<div id="<%= dom_id movie %>" class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <%= movie.title %> 
            <span class="badge bg-secondary">
                <%= movie.release_year %>
            </span>
        </h5>
        <p class="card-text">
            <%= movie.synopsis %>
        </p>

  <p>
    <strong><%= I18n.t("movies.show.duration") %>:</strong>
    <%= movie.duration %> minutos
  </p>

  <p>
    <strong><%= I18n.t("movies.show.director") %>:</strong>
    <%= movie.director %>
  </p>
</div>
