<div id="<%= dom_id movie %>" class="card d-flex shadow-sm w-25 mb-4">
  <div class="card-body d-flex flex-column">

    <h5 class="card-title">
        <%= movie.title %> 
        <span class="badge bg-secondary">
            <%= movie.release_year %>
        </span>
    </h5>

    <% if movie.poster.attached? %>
        <%= image_tag movie.poster, class: "img-fluid rounded mb-2 overflow-hidden", style: "width: 300px; height: 400px; object-fit: cover;" %>
    <% end %>

    <p class="card-text">
        <%= truncate(movie.synopsis, length: 150) %>
    </p>

    <p>
        <strong><%= I18n.t("movies.show.duration") %>:</strong>
        <%= movie.duration %> minutos
    </p>

    <p>
        <strong><%= I18n.t("movies.show.director") %>:</strong>
        <%= movie.director %>
    </p>

    <div class="mt-auto pt-2">
        <%= link_to I18n.t("movies.index.show"), movie, class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>
