<%= form_with model: @import_job, local: true do |form| %>
  <% if @import_job.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false" class="alert alert-danger" role="alert">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                   count: @import_job.errors.count,
                   resource: @import_job.class.model_name.human.downcase)
         %>
      </h2>
      <ul>
        <% @import_job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :csv_file, class: "form-label" %>
    <%= form.file_field :csv_file, class: "form-control" %>

    <%= form.submit "Iniciar Importação", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
