<!DOCTYPE html>
<html>
  <head>
    <title><%= t("layouts.application.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to t("layouts.application.title"), root_path, class: "navbar-brand" %>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav me-auto">
            <%= link_to t(".home"), root_path, class: "nav-link" %>
            <% if user_signed_in? %>
              <%= link_to t(".sign_out"), destroy_user_session_path, class: "nav-link", data: { turbo_method: :delete } %>
            <% else %>
              <%= link_to t(".sign_in"), new_user_session_path, class: "nav-link" %>
              <%= link_to t(".sign_up"), new_user_registration_path, class: "nav-link" %>
            <% end %>
          </div>
          
          <ul class="navbar-nav ms-auto align-items-center gap-3">
            <% if user_signed_in? %>
              <li class="nav-item">
                <span class="navbar-text">
                  <%= t('.logged_in_as') %> <strong><%= current_user.email %></strong>
                </span>
              </li>
              <li class="nav-item">
                <%= link_to t('devise.edit.edit_profile'), edit_user_registration_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item align-items-center d-flex gap-2 gap-lg-0">
              <%= image_tag "icons/usa.svg", style: "width: 24px; height: 24px;" %>
              <%= link_to "EN", { locale: :en }, class: "nav-link #{'active' if I18n.locale == :en}" %>
            </li>
            <li class="nav-item align-items-center d-flex gap-2 gap-lg-0">
              <%= image_tag "icons/brazil.svg", style: "width: 24px; height: 24px;" %>
              <%= link_to "PT-BR", { locale: "pt-BR" }, class: "nav-link #{'active' if I18n.locale.to_s == 'pt-BR'}" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    
    <div class="container mt-4">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
